{% extends 'base.html.twig' %}

{% block title %}Student Administration Framework{% endblock %}

{% block body %}

    {% for message in app.flashes('result') %}
        <div class="flash">
            <p>{{ message }}</p>
        </div>
    {% endfor %}

    <div class="body-container">
        <a href="{{ path('students') }}">
            <div class="tab" style="background-color: #f3f7fa">
                <div class="tabp">
                    <p style="color: #9ea8ae">STUDENTS</p>
                    <p style="color: #dadee1">{{ students|length }} student registered</p>
                </div>
            </div>
        </a>


        <a href="{{ path('study_groups') }}">
            <div class="tab" style="margin: 5px; background-color: #ffffff">
                <div class="tabp">
                    <p style="color: #36ccdd" >STUDY GROUPS</p>
                    <p style="color: #767779">{{ allStudy_groups|length }} study groups with {{ student_in_groups }} students</p>
                </div>
            </div>
        </a>

        <table class="table">
            <tr class="firsttr">
                <td style="width: 25%">
                    <div class="show">
                        <p>SEARCH FOR NAME</p>
                        <form method="POST" action="{{ path('groupsearch') }}">
                            <label for="inputname"></label><input type="search" style="width: 50%; height: 25px" name="nameSearch" id="inputname" class="searchname" placeholder="&#xf002">
                        </form>
                    </div>
                </td>
                <td style="width: 50%">
                    <i class="fas fa-users"><b> {{ allStudy_groups|length }} STUDY GROUPS</b></i>
                    <button type="submit"  class="editButton" form="deleteEditForm" name="editCheck" title="Edit" formaction="/study-groups/edit-studygroup"><i class="far fa-edit"></i></button>
                    <a class="newButton" href="{{ path('new_study_group') }}"><button type="submit" title="Create new study group">New</button></a>
                </td>
                <td style="text-align: right; width: 25%">
                    {% if allStudy_groups|length > 10 %}
                    {{ knp_pagination_render(study_groups) }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    <table style="margin-left: 40px">
                        <tr>
                            <td style="color: #a4acb0" colspan="2">FILTERS FOR STUDENTS</td>
                        </tr>
                        <form id="filter" action="{{ path('student_filter') }}" method="POST">
                            {%  for student in students %}
                                <tr>
                                    <td style="width: 10%">
                                        <label class="control control-checkbox">
                                            <input type="checkbox" name="checkid[]" value={{ student.id }} class="checkFilter"
                                                                  onchange="document.getElementById('filter').submit()">
                                            <div class="control_indicator"></div>
                                        </label>
                                    </td>
                                    <td>{{ student.name }}</td>
                                </tr>
                            {% endfor %}
                        </form>
                    </table>
                </td>
                <td colspan="3">

                    <form id="deleteEditForm" action="{{ path('delete_study_groups') }}">

                    <table class="table" style="background-color: #ffffff; width: 97%">
                        <tr style="color: #a4acb0; border-bottom: 1px solid #f4f5f6">
                            <td style="width: 10%">
                                <label class="control control-checkbox">
                                    <input type="checkbox" value="select" name="checkAll" id="check" class="checkAll" onclick="select_all()">
                                    <div class="control_indicator"></div>
                                </label>
                            </td>
                            <td style="width: 15%">GROUP NAME</td>
                            <td style="width: 15%">GROUP LEADER</td>
                            <td style="width: 10%">SUBJECT</td>
                            <td style="width: 20%">DATE AND TIME</td>
                            <td style="text-align: right; width: 29%">ENROLLED STUDENTS</td>
                        </tr>
                        {%  for study_group in study_groups %}
                        <tr style="border-bottom: 1px solid #f4f5f6">
                            <td style="width: 10%">
                                <label class="control control-checkbox">
                                    <input type="checkbox" name="id[]" value="{{ study_group.id }}" class="check">
                                    <div class="control_indicator"></div>
                                </label>
                            </td>
                            <td>{{ study_group.groupname }}</td>
                            <td>{{ study_group.groupleader }}</td>
                            <td>{{ study_group.subject }}</td>
                            <td>{{ study_group.datetimeofstudygroup|date("Y.m.d H:i") }}</td>
                            <td style="text-align: right">
                                {% for student in study_group.enrolledstudents|sort((a,b) => a.name <=> b.name) %}
                                    {% if loop.index == 1 and study_group.enrolledstudents|length > 1 %}
                                        {{ student.name }},
                                    {% elseif loop.index == 2  or study_group.enrolledstudents|length == 1 %}
                                        {{ student.name }}
                                    {% elseif loop.index == 3 %}
                                        and <span style="color: #e97d43"> {{ study_group.enrolledstudents|length -  loop.index + 1}} more</span>
                                    {% endif%}
                                {% endfor %}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                        <button type="submit" class="deleteAll" id="deleteAllChecks">Delete</button>
                    </form>
                </td>
            </tr>
        </table>

    </div>
{% endblock %}